<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TherapyReady Backend</title>
</head>
<body>
    <h1>Welcome to the backend of TherapyReady!</h1>
    <p>To view <a href="https://therapyready-backend.herokuapp.com/clinics/">Clinics</a></p>
    <p>To view <a href="https://therapyready-backend.herokuapp.com/therapists/">Therapists</a></p>
</body>
</html>